import OAClient from 'openapi-client-axios'

export default async function client (config?: AxiosRequestConfig) {
    const api = new OAClient({ definition: {definition}, axiosConfigDefaults: config, transformOperationName: {transformOperationName} })
    return await api.init<Client>()
}